
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Марина Белянова || Веб-разработчик</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
  </head>
  <body class="text-left">
      <div class="background">
        <canvas id="bg"></canvas>
      </div>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="z-index:1">

      <header class="masthead mb-auto" style="z-index: 3">
        <div class="inner text-dark">
          <h3 class="masthead-brand">;)</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link text-dark active" href="/">Главная</a>
            <a class="nav-link text-dark" href="/static/belyanova.pdf">Резюме</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading text-dark text-center">Марина Белянова</h1>
        <p class="lead text-dark">
          <p class="lead text-dark"> Учусь в магистратуре, учу детей. Делаю разные интересные штуки в  <u><a href="https://ktsstudio.com" class="text-dark">студии KTS</a></u>.</p><p class="lead text-center">
          <a href="/static/belyanova.pdf" class="btn btn-lg btn-secondary">Посмотреть резюме</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner h5 text-center">
           <!-- Add font awesome icons -->
        <a href="https://www.facebook.com/marina.belyanova" class="fa fa-facebook text-dark" target="_blank"></a>
        <a href="https://twitter.com/easnad" class="fa fa-twitter text-dark" target="_blank"></a>
        <a href="https://vk.com/flerchy" class="fa fa-vk text-dark" target="_blank"></a>
        <a href="https://instagram.com/gaeriel" class="fa fa-instagram text-dark" target="_blank"></a>
        <br><a href="https://t.me/flerchy" class="fa fa-telegram text-dark" target="_blank"> (@flerchy)</a>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/js/vendor/popper.min.js"></script>
    <script src="static/js/my.js"></script>
  </body>
</html>
