
<!doctype html>
<html lang="ru">
  <head>
    <meta name="google-site-verification" content="_ig01ENfqVJWLftML_4qFOIko3jDnEavsDfvpK4syvo" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/icon.png">

    <title>Марина Белянова | Веб-разработчик</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
      <div class="background">
        <canvas id="bg"></canvas>
      </div>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="z-index:1">

      <header class="masthead mb-auto" style="z-index: 3">
        <div class="inner text-dark">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link text-dark active" href="/">Главная</a>
            <a class="nav-link text-dark" href="/stuff/">Штуки</a>
            <a class="nav-link text-dark" href="/static/belyanova.pdf">Резюме</a>
            <a class="nav-link text-dark" href="/english/">Ru/En</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

        <h1 class="cover-heading text-dark text-center">Марина Белянова</h1>
        <p class="lead text-dark">
        <div class="lead text-dark justify-content-center mb-4">
          Учусь в магистратуре МГТУ им. Баумана, учу школьников. Занимаюсь разными интересными проектами в
          <u><a href="https://ktsstudio.com" class="text-dark">студии KTS</a></u> и не только.
        </div>
        <div class="text-center text-dark lead mb-2">Специальности:
          <br><span class="fa fa-check"></span> Веб-разработка
          <br><span class="fa fa-check"></span> Машинное обучение
        </div>
        <div class=" text-dark lead hide-desc-resume" >
          Подробнее о проектах и обо мне<br> <span class="fa fa-arrow-down"></span>
        </div>
        <div class="lead col text-center">
          <a href="/static/belyanova.pdf" class="btn btn-lg btn-secondary">Посмотреть резюме</a>
        </div>
        </p>
      </main>

      <footer class="mastfoot page-footer mt-auto"><div class="hide-contacts text-dark">
        Связаться со мной<br> <span class="fa fa-arrow-down"></span>
        </div>
        <div class="inner h5 text-center">
           <!-- Add font awesome icons -->
        <a href="https://www.facebook.com/marina.belyanova" class="fab fa-facebook text-dark" target="_blank"></a>
        <a href="https://twitter.com/easnad" class="fab fa-twitter text-dark" target="_blank"></a>
        <a href="https://vk.com/flerchy" class="fab fa-vk text-dark" target="_blank"></a>
        <a href="https://instagram.com/gaeriel" class="fab fa-instagram text-dark" target="_blank"></a>
        <br><a href="https://t.me/flerchy" class="fab fa-telegram text-dark" target="_blank"> (@flerchy)</a>
        </div>
      </footer>
    </div>


    <!-- JavaScript -->
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/my.js"></script>
  </body>
</html>
