<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Марина Белянова | Всякое</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/static/css/stuff.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <nav class="nav nav-masthead justify-content-center ml-auto">
                <a class="nav-link text-light" href="/">Главная</a>
                <a class="nav-link text-light active" href="/stuff/">Всякое</a>
                <a class="nav-link text-light" href="/static/belyanova.pdf">Резюме</a>
            </nav>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/stuff-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="site-heading">
                    <h1>
                        Интересные мне вещи:
                    </h1>
                    <h3>
                        задачи, код, может ещё что-то по мелочи
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h3 class="post-title">
                    Задача 1
                </h3>
                <h4 class="post-subtitle">
                    У вас есть двухчашечные весы и 8 монет, одна из них фальшивая. Фальшивая весит меньше, чем
                    настоящая.
                    Какое минимальное количество взвешиваний необходимо сделать, чтобы определить фальшивую.
                </h4>
            </div>
            <hr>
            <div class="post-preview">
                <h3 class="post-title">
                    Задача 2
                </h3>
                <h4 class="post-subtitle">
                    Докажите, что a^3 - a нацело делится на 3.
                </h4>
            </div>
            <hr>
            <div class="post-preview">
                <h3 class="post-title">
                    Задача 3
                </h3>
                <h4 class="post-subtitle">
                    <p>
                        Нужно переложить только 3 спички так, чтобы крабик пополз в другую сторону.
                    </p>
                    <p> Крабик:
                    <img src="/static/img/rak.png" alt="Картинка с крабиком">
                    </p>
                </h4>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>
