<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/icon.png">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <title>Stuff</title>
</head>
<body class="text-left text-dark">
<h3>
    Тут я буду складировать интересные штуки. Например, задачи или оригинальные решения. Можно назвать это мини-блогом о работе и учёбе.
</h3>

<div class="problems">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-dark" style="z-index:1">
        <h4>Моя любимая задачка по математике</h4>
        У вас есть двухчашечные весы и 8 монет, одна из них фальшивая. Фальшивая весит меньше, чем настоящая.
        Какое минимальное количество взвешиваний необходимо сделать, чтобы определить фальшивую.
    </div>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-dark" style="z-index:1">
        <h4>Ещё одна задачка по математике</h4>
        Докажите, что a^3 - a нацело делится на 3.
</div>
    Если вы случайно оказались на этой страничке и знаете ответы на эти задачи, то можете написать мне куда угодно, пообщаемся. :)
</div>
</body>
</html>